numpy
pandas
scikit-learn
matplotlib
seaborn
tensorflow  
keras
xgboost
lightgbm
catboost
statsmodels
nltk
spacy
gensim
beautifulsoup4
requests
flask
django
pytest
sphinx
jupyterlab
notebook
ipython
black
flake8
mypy
pre-commit
autopep8
isort
pytest-cov
coverage
tox
virtualenv
pipenv
poetry
pytest-django
pytest-flask
pytest-cov
pytest-mock
pytest-asyncio
pytest-xdist
pytest-cov
pytest-html
pytest-sugar
pytest-rerunfailures
pytest-cov
pytest-cov-append   
pytest-cov-html
pytest-cov-xml
pytest-cov-json
pytest-cov-coverage
pytest-cov-report
pytest-cov-fail-under
pytest-cov-branch
pytest-cov-include
pytest-cov-exclude